### Different file format tutorial from pandas.

In [19]:
import pandas as pd
import numpy as np
from StringIO import StringIO

In [20]:
data = 'a,b,c~1,2,3~4,5,6'

In [21]:
pd.read_csv(StringIO(data), lineterminator='~')

   a  b  c
0  1  2  3
1  4  5  6

In [23]:
data = 'a,b,c\n1,2,3\n4,5,6\n7,8,9'
print data

a,b,c
1,2,3
4,5,6
7,8,9

In [26]:
df = pd.read_csv(StringIO(data), dtype=object)
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
data = "col_1\n1\n2\n'A'\n4.22"
print data

col_1
1
2
'A'
4.22

In [28]:
df = pd.read_csv(StringIO(data), converters={'col_1':str})
df

  col_1
0     1
1     2
2   'A'
3  4.22

In [29]:
df.dtypes

col_1    object
dtype: object

In [30]:
df['col_1'].apply(type).value_counts()

<type 'str'>    4
Name: col_1, dtype: int64

In [31]:
df2 = pd.read_csv(StringIO(data))

In [32]:
df2

  col_1
0     1
1     2
2   'A'
3  4.22

In [33]:
df2['col_1'] = pd.to_numeric(df2['col_1'], errors='coerce') # convert to numeric data, very important for later ***

In [34]:
df2

   col_1
0   1.00
1   2.00
2    NaN
3   4.22

In [35]:
df2['col_1'].apply(type).value_counts()

<type 'float'>    4
Name: col_1, dtype: int64

In [40]:
df = pd.DataFrame({'col_1':range(5) + ['a', 'b'] + range(5)})

In [41]:
df.to_csv('foo')

In [43]:
mixed_df = pd.read_csv('foo')
mixed_df

    Unnamed: 0 col_1
0            0     0
1            1     1
2            2     2
3            3     3
4            4     4
5            5     a
6            6     b
7            7     0
8            8     1
9            9     2
10          10     3
11          11     4

In [44]:
mixed_df['col_1'].apply(type).value_counts()

<type 'str'>    12
Name: col_1, dtype: int64

In [45]:
mixed_df['col_1'].dtype

dtype('O')

In [46]:
data = 'col1,col2,col3\na,b,1\na,b,2\nc,d,3'

In [47]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [48]:
pd.read_csv(StringIO(data)).dtypes

col1    object
col2    object
col3     int64
dtype: object

In [53]:
pd.read_csv(StringIO(data), names=['foo', 'bar', 'baz'], header=None)

    foo   bar   baz
0  col1  col2  col3
1     a     b     1
2     a     b     2
3     c     d     3

In [54]:
pd.read_csv(StringIO(data), names=['foo', 'bar', 'baz'], header=0)

  foo bar  baz
0   a   b    1
1   a   b    2
2   c   d    3

In [56]:
data = 'a,b,a\n0,1,2\n3,4,5'
pd.read_csv(StringIO(data), mangle_dupe_cols=False) # by deafult mangle is True and columns automatically
#renamed if duplicates found

   a  b  a
0  2  1  2
1  5  4  5

In [57]:
data = 'a,b,c\n\n1,2,3\n\n\n4,5,6'
pd.read_csv(StringIO(data), skip_blank_lines=False)

     a    b    c
0  NaN  NaN  NaN
1  1.0  2.0  3.0
2  NaN  NaN  NaN
3  NaN  NaN  NaN
4  4.0  5.0  6.0

In [58]:
 data = '# empty\n# second empty line\n# third empty' \
'line\nX,Y,Z\n1,2,3\nA,B,C\n1,2.,4.\n5.,NaN,10.0'
print(data)

# empty
# second empty line
# third emptyline
X,Y,Z
1,2,3
A,B,C
1,2.,4.
5.,NaN,10.0

In [60]:
pd.read_csv(StringIO(data), comment='#', skiprows=4, header=0)

    1    2     3
0   A    B     C
1   1   2.    4.
2  5.  NaN  10.0

In [62]:
data = b'word,length\nTr\xc3\xa4umen,7\nGr\xc3\xbc\xc3\x9fe,5'.decode('utf8').encode('latin-1')
print (data)

word,length
Tr�umen,7
Gr��e,5

In [67]:
import io
df = pd.read_csv(io.BytesIO(data), encoding='latin-1')
df

      word  length
0  Träumen       7
1    Grüße       5

In [68]:
data = 'a,b,c\n4,apple,bat,5.7\n8,orange,cow,10'
print data

a,b,c
4,apple,bat,5.7
8,orange,cow,10

In [72]:
pd.read_csv(StringIO(data), index_col=0)

        a    b     c
4   apple  bat   5.7
8  orange  cow  10.0

In [73]:
pd.read_csv(StringIO(data), index_col=False)

   a       b    c
0  4   apple  bat
1  8  orange  cow

In [74]:
df = pd.read_csv('foo.csv', index_col=0, parse_dates=True)
df

            A  B  C
date
2009-01-01  a  1  2
2009-01-02  b  3  4
2009-01-03  c  4  5

In [76]:
df.index

DatetimeIndex(['2009-01-01', '2009-01-02', '2009-01-03'], dtype='datetime64[ns]', name=u'date', freq=None)

In [77]:
print(open('tmp.csv').read())

KORD,19990127, 19:00:00, 18:56:00, 0.8100
KORD,19990127, 20:00:00, 19:56:00, 0.0100
KORD,19990127, 21:00:00, 20:56:00, -0.5900
KORD,19990127, 21:00:00, 21:18:00, -0.9900
KORD,19990127, 22:00:00, 21:56:00, -0.5900
KORD,19990127, 23:00:00, 22:56:00, -0.5900

In [79]:
df = pd.read_csv('tmp.csv', header=None, parse_dates=[[1, 2], [1, 3]])
df

                  1_2                 1_3     0     4
0 1999-01-27 19:00:00 1999-01-27 18:56:00  KORD  0.81
1 1999-01-27 20:00:00 1999-01-27 19:56:00  KORD  0.01
2 1999-01-27 21:00:00 1999-01-27 20:56:00  KORD -0.59
3 1999-01-27 21:00:00 1999-01-27 21:18:00  KORD -0.99
4 1999-01-27 22:00:00 1999-01-27 21:56:00  KORD -0.59
5 1999-01-27 23:00:00 1999-01-27 22:56:00  KORD -0.59

In [80]:
df = pd.read_csv('tmp.csv', header=None, parse_dates=[[1, 2], [1, 3]],keep_date_col=True)
df

,1_2,1_3,0,1,2,3,4
0,1999-01-27 19:00:00,1999-01-27 18:56:00,KORD,19990127,19:00:00,18:56:00,0.81
1,1999-01-27 20:00:00,1999-01-27 19:56:00,KORD,19990127,20:00:00,19:56:00,0.01
2,1999-01-27 21:00:00,1999-01-27 20:56:00,KORD,19990127,21:00:00,20:56:00,-0.59
3,1999-01-27 21:00:00,1999-01-27 21:18:00,KORD,19990127,21:00:00,21:18:00,-0.99
4,1999-01-27 22:00:00,1999-01-27 21:56:00,KORD,19990127,22:00:00,21:56:00,-0.59
5,1999-01-27 23:00:00,1999-01-27 22:56:00,KORD,19990127,23:00:00,22:56:00,-0.59

In [82]:
date_spec = {'nominal': [1, 2], 'actual': [1, 3]}
df = pd.read_csv('tmp.csv', header=None, parse_dates=date_spec)
df

              nominal              actual     0     4
0 1999-01-27 19:00:00 1999-01-27 18:56:00  KORD  0.81
1 1999-01-27 20:00:00 1999-01-27 19:56:00  KORD  0.01
2 1999-01-27 21:00:00 1999-01-27 20:56:00  KORD -0.59
3 1999-01-27 21:00:00 1999-01-27 21:18:00  KORD -0.99
4 1999-01-27 22:00:00 1999-01-27 21:56:00  KORD -0.59
5 1999-01-27 23:00:00 1999-01-27 22:56:00  KORD -0.59

**Note** read_csv has a fast_path for parsing datetime strings in iso8601 format, e.g “2000-01-01T00:01:02+00:00” and similar variations. If you can arrange for your data to store datetimes in this format, load times will be significantly faster, ~20x has been observed.

In [83]:
import pandas.io.date_converters as conv

In [85]:
df = pd.read_csv('tmp.csv', header=None, parse_dates=date_spec,
   .....:                  date_parser=conv.parse_date_time)
df

              nominal              actual     0     4
0 1999-01-27 19:00:00 1999-01-27 18:56:00  KORD  0.81
1 1999-01-27 20:00:00 1999-01-27 19:56:00  KORD  0.01
2 1999-01-27 21:00:00 1999-01-27 20:56:00  KORD -0.59
3 1999-01-27 21:00:00 1999-01-27 21:18:00  KORD -0.99
4 1999-01-27 22:00:00 1999-01-27 21:56:00  KORD -0.59
5 1999-01-27 23:00:00 1999-01-27 22:56:00  KORD -0.59

### JSON

In [88]:
dfj = pd.DataFrame(np.random.randn(5, 2), columns=list('AB'))

In [89]:
json = dfj.to_json()

In [90]:
json

'{"A":{"0":-0.6031606857,"1":0.7641072326,"2":0.1898065218,"3":-0.3771820369,"4":-0.1870283343},"B":{"0":0.0975023613,"1":0.3402899886,"2":0.1922306441,"3":-0.9129901096,"4":-0.9010183629}}'

In [91]:
dfjo = pd.DataFrame(dict(A=range(1, 4), B=range(4, 7), C=range(7, 10)),
   .....:                     columns=list('ABC'), index=list('xyz'))

In [92]:
dfjo

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [93]:
dfjo.to_json(orient="columns")

'{"A":{"x":1,"y":2,"z":3},"B":{"x":4,"y":5,"z":6},"C":{"x":7,"y":8,"z":9}}'

In [94]:
dfjo.to_json(orient="index")

'{"x":{"A":1,"B":4,"C":7},"y":{"A":2,"B":5,"C":8},"z":{"A":3,"B":6,"C":9}}'

In [95]:
dfjo.to_json(orient="records")

'[{"A":1,"B":4,"C":7},{"A":2,"B":5,"C":8},{"A":3,"B":6,"C":9}]'

In [96]:
sjo = pd.Series(dict(x=15, y=16, z=17), name='D')

In [97]:
sjo

x    15
y    16
z    17
Name: D, dtype: int64

In [98]:
sjo.to_json(orient="records")

'[15,16,17]'

In [99]:
 dfjo.to_json(orient="values")

'[[1,4,7],[2,5,8],[3,6,9]]'

In [100]:
dfjo

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [101]:
dfjo.to_json(orient="split")

'{"columns":["A","B","C"],"index":["x","y","z"],"data":[[1,4,7],[2,5,8],[3,6,9]]}'

In [102]:
sjo.to_json(orient="split")

'{"name":"D","index":["x","y","z"],"data":[15,16,17]}'

In [103]:
dfd = pd.DataFrame(np.random.randn(5, 2), columns=list('AB'))
dfd

          A         B
0  0.304666  0.140243
1 -0.692117 -1.018199
2 -0.181239  0.183348
3 -2.072226  0.718006
4  0.269415 -0.035373

In [104]:
dfd['date'] = pd.Timestamp('20130101')

In [105]:
dfd

          A         B       date
0  0.304666  0.140243 2013-01-01
1 -0.692117 -1.018199 2013-01-01
2 -0.181239  0.183348 2013-01-01
3 -2.072226  0.718006 2013-01-01
4  0.269415 -0.035373 2013-01-01

In [108]:
dfd = dfd.sort_index(1, ascending=False)
dfd

        date         B         A
0 2013-01-01  0.140243  0.304666
1 2013-01-01 -1.018199 -0.692117
2 2013-01-01  0.183348 -0.181239
3 2013-01-01  0.718006 -2.072226
4 2013-01-01 -0.035373  0.269415

In [107]:
json = dfd.to_json(date_format='iso')
json

'{"date":{"0":"2013-01-01T00:00:00.000Z","1":"2013-01-01T00:00:00.000Z","2":"2013-01-01T00:00:00.000Z","3":"2013-01-01T00:00:00.000Z","4":"2013-01-01T00:00:00.000Z"},"B":{"0":0.1402433084,"1":-1.018199045,"2":0.183348255,"3":0.7180057312,"4":-0.0353728794},"A":{"0":0.3046657948,"1":-0.6921169827,"2":-0.1812388118,"3":-2.0722258997,"4":0.2694152533}}'

In [109]:
json = dfd.to_json(date_format='iso', date_unit='us') # microseconds
json

'{"date":{"0":"2013-01-01T00:00:00.000000Z","1":"2013-01-01T00:00:00.000000Z","2":"2013-01-01T00:00:00.000000Z","3":"2013-01-01T00:00:00.000000Z","4":"2013-01-01T00:00:00.000000Z"},"B":{"0":0.1402433084,"1":-1.018199045,"2":0.183348255,"3":0.7180057312,"4":-0.0353728794},"A":{"0":0.3046657948,"1":-0.6921169827,"2":-0.1812388118,"3":-2.0722258997,"4":0.2694152533}}'

In [111]:
json = dfd.to_json(date_format='epoch', date_unit='s') #seconds
json

'{"date":{"0":1356998400,"1":1356998400,"2":1356998400,"3":1356998400,"4":1356998400},"B":{"0":0.1402433084,"1":-1.018199045,"2":0.183348255,"3":0.7180057312,"4":-0.0353728794},"A":{"0":0.3046657948,"1":-0.6921169827,"2":-0.1812388118,"3":-2.0722258997,"4":0.2694152533}}'

In [112]:
dfj2 = dfj.copy()
dfj2

          A         B
0 -0.603161  0.097502
1  0.764107  0.340290
2  0.189807  0.192231
3 -0.377182 -0.912990
4 -0.187028 -0.901018

In [113]:
dfj2['date'] = pd.Timestamp('20130101')

In [114]:
dfj2['ints'] = list(range(5))

In [115]:
dfj2['bools'] = True

In [116]:
dfj2.index = pd.date_range('20130101', periods=5)

In [117]:
dfj2

                   A         B       date  ints bools
2013-01-01 -0.603161  0.097502 2013-01-01     0  True
2013-01-02  0.764107  0.340290 2013-01-01     1  True
2013-01-03  0.189807  0.192231 2013-01-01     2  True
2013-01-04 -0.377182 -0.912990 2013-01-01     3  True
2013-01-05 -0.187028 -0.901018 2013-01-01     4  True

In [118]:
dfj2.to_json('test.json')

In [121]:
open('test.json').read()

'{"A":{"1356998400000":-0.6031606857,"1357084800000":0.7641072326,"1357171200000":0.1898065218,"1357257600000":-0.3771820369,"1357344000000":-0.1870283343},"B":{"1356998400000":0.0975023613,"1357084800000":0.3402899886,"1357171200000":0.1922306441,"1357257600000":-0.9129901096,"1357344000000":-0.9010183629},"date":{"1356998400000":1356998400000,"1357084800000":1356998400000,"1357171200000":1356998400000,"1357257600000":1356998400000,"1357344000000":1356998400000},"ints":{"1356998400000":0,"1357084800000":1,"1357171200000":2,"1357257600000":3,"1357344000000":4},"bools":{"1356998400000":true,"1357084800000":true,"1357171200000":true,"1357257600000":true,"1357344000000":true}}'

In [123]:
pd.DataFrame([1.0, 2.0, complex(1.0, 2.0)]).to_json()

RuntimeError: Unhandled numpy dtype 15

In [124]:
 pd.DataFrame([1.0, 2.0, complex(1.0, 2.0)]).to_json(default_handler=str) # Note the deafulta handler

'{"0":{"0":"(1+0j)","1":"(2+0j)","2":"(1+2j)"}}'

In [125]:
pd.read_json(json) #reading from a json string

          A         B       date
0  0.304666  0.140243 2013-01-01
1 -0.692117 -1.018199 2013-01-01
2 -0.181239  0.183348 2013-01-01
3 -2.072226  0.718006 2013-01-01
4  0.269415 -0.035373 2013-01-01

In [126]:
pd.read_json('test.json') #reading from a json file

                   A         B bools       date  ints
2013-01-01 -0.603161  0.097502  True 2013-01-01     0
2013-01-02  0.764107  0.340290  True 2013-01-01     1
2013-01-03  0.189807  0.192231  True 2013-01-01     2
2013-01-04 -0.377182 -0.912990  True 2013-01-01     3
2013-01-05 -0.187028 -0.901018  True 2013-01-01     4

In [127]:
pd.read_json('test.json', dtype=object).dtypes # Don’t convert any data (but still convert axes and dates):

A        object
B        object
bools    object
date     object
ints     object
dtype: object

In [128]:
pd.read_json('test.json', dtype={'A' : 'float32', 'bools' : 'int8'}).dtypes

A               float32
B               float64
bools              int8
date     datetime64[ns]
ints              int64
dtype: object

In [129]:
si = pd.DataFrame(np.zeros((4, 4)),
   .....:          columns=list(range(4)),
   .....:          index=[str(i) for i in range(4)])
   .....:

In [130]:
si

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [131]:
json = dfj2.to_json(date_unit='ns')

In [132]:
json

'{"A":{"1356998400000000000":-0.6031606857,"1357084800000000000":0.7641072326,"1357171200000000000":0.1898065218,"1357257600000000000":-0.3771820369,"1357344000000000000":-0.1870283343},"B":{"1356998400000000000":0.0975023613,"1357084800000000000":0.3402899886,"1357171200000000000":0.1922306441,"1357257600000000000":-0.9129901096,"1357344000000000000":-0.9010183629},"date":{"1356998400000000000":1356998400000000000,"1357084800000000000":1356998400000000000,"1357171200000000000":1356998400000000000,"1357257600000000000":1356998400000000000,"1357344000000000000":1356998400000000000},"ints":{"1356998400000000000":0,"1357084800000000000":1,"1357171200000000000":2,"1357257600000000000":3,"1357344000000000000":4},"bools":{"1356998400000000000":true,"1357084800000000000":true,"1357171200000000000":true,"1357257600000000000":true,"1357344000000000000":true}}'

In [133]:
dfju = pd.read_json(json, date_unit='ms')
dfju #Try to parse timestamps as millseconds -> Won't Work

                            A         B bools                 date  ints
1356998400000000000 -0.603161  0.097502  True  1356998400000000000     0
1357084800000000000  0.764107  0.340290  True  1356998400000000000     1
1357171200000000000  0.189807  0.192231  True  1356998400000000000     2
1357257600000000000 -0.377182 -0.912990  True  1356998400000000000     3
1357344000000000000 -0.187028 -0.901018  True  1356998400000000000     4

In [134]:
dfju = pd.read_json(json)
dfju

                   A         B bools       date  ints
2013-01-01 -0.603161  0.097502  True 2013-01-01     0
2013-01-02  0.764107  0.340290  True 2013-01-01     1
2013-01-03  0.189807  0.192231  True 2013-01-01     2
2013-01-04 -0.377182 -0.912990  True 2013-01-01     3
2013-01-05 -0.187028 -0.901018  True 2013-01-01     4

In [136]:
# Or specify that all timestamps are in nanoseconds
dfju = pd.read_json(json, date_unit='ns')
dfju

                   A         B bools       date  ints
2013-01-01 -0.603161  0.097502  True 2013-01-01     0
2013-01-02  0.764107  0.340290  True 2013-01-01     1
2013-01-03  0.189807  0.192231  True 2013-01-01     2
2013-01-04 -0.377182 -0.912990  True 2013-01-01     3
2013-01-05 -0.187028 -0.901018  True 2013-01-01     4

If numpy=True is passed to read_json an attempt will be made to sniff an appropriate dtype during deserialization and to subsequently decode directly to numpy arrays, bypassing the need for intermediate Python objects.

This can provide speedups if you are deserialising a large amount of numeric data:

In [137]:
In [220]: randfloats = np.random.uniform(-100, 1000, 10000)

In [221]: randfloats.shape = (1000, 10)

In [222]: dffloats = pd.DataFrame(randfloats, columns=list('ABCDEFGHIJ'))

In [223]: jsonfloats = dffloats.to_json()

In [138]:
timeit pd.read_json(jsonfloats)

100 loops, best of 3: 9.43 ms per loop

In [139]:
timeit pd.read_json(jsonfloats, numpy=True)

100 loops, best of 3: 5.83 ms per loop

### Warning 
Direct numpy decoding makes a number of assumptions and may fail or produce unexpected output if these assumptions are not satisfied:
data is numeric.
data is uniform. The dtype is sniffed from the first value decoded. A ValueError may be raised, or incorrect output may be produced if this condition is not satisfied.
labels are ordered. Labels are only read from the first container, it is assumed that each subsequent row / column has been encoded in the same order. This should be satisfied if the data was encoded using to_json but may not be the case if the JSON is from another source.

In [140]:
from pandas.io.json import json_normalize # pay special attention to this

In [141]:
data = [{'state': 'Florida',
   .....:           'shortname': 'FL',
   .....:           'info': {
   .....:                'governor': 'Rick Scott'
   .....:           },
   .....:           'counties': [{'name': 'Dade', 'population': 12345},
   .....:                       {'name': 'Broward', 'population': 40000},
   .....:                       {'name': 'Palm Beach', 'population': 60000}]},
   .....:          {'state': 'Ohio',
   .....:           'shortname': 'OH',
   .....:           'info': {
   .....:                'governor': 'John Kasich'
   .....:           },
   .....:           'counties': [{'name': 'Summit', 'population': 1234},
   .....:                        {'name': 'Cuyahoga', 'population': 1337}]}]
   .....:

In [142]:
 json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

In [143]:
jsonl = '''
   .....:     {"a":1,"b":2}
   .....:     {"a":3,"b":4}
   .....: '''
   .....:

In [148]:
df = pd.read_csv(api.csv)

NameError: name 'api' is not defined